{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 4,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 500
      }
    }
  ]
}
